{% extends 'blog/base.html' %}

{% block title %}My Blog{% endblock %}

{% block content %}
<h1 class="mb-4">📝 Rant & Blog </h1>

{% if user.is_authenticated %}
    <p>
        <a class="btn btn-success mb-3" href="{% url 'post_create' %}">+ New Post</a>
    </p>
{% else %}
    <p>
        <a href="{% url 'login' %}">Login</a> to create a post.
    </p>
{% endif %}

{% for post in posts %}
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h3 class="card-title">
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h3>
            <p class="card-text text-muted">
                <strong>By:</strong>
                <a href="{% url 'user_profile' username=post.author.username %}">{{ post.author.username }}</a>
                | {{ post.created_at }}
            </p>
            <p class="card-text">{{ post.body|truncatechars:200 }}</p>
        </div>
    </div>
{% empty %}
    <p>No posts yet.</p>
{% endfor %}
{% endblock %}
